.swiper-container[data-v-d3eb8be6]{width:100%;height:100%}.swiper-slide[data-v-d3eb8be6]{text-align:center;font-size:18px;background:#fff;display:-webkit-flex;min-height:100px;max-width:200px;display:flex;justify-content:center;align-items:center}